{% extends 'master.html' %}

{% block title %}Add Mikrotik{% endblock %}

{% block content %}
<h2>Add Mikrotik Device</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="device_name" class="form-label">Device Name</label>
        <input type="text" class="form-control" id="device_name" name="device_name">
    </div>
    <div class="mb-3">
        <label for="ip_address" class="form-label">IP Address</label>
        <input type="text" class="form-control" id="ip_address" name="ip_address">
    </div>
    <button type="submit" class="btn btn-primary">Add Mikrotik</button>
</form>
{% endblock %}
